{% extends 'partials/base.html' %}

{% block title %} Sign Up Page {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-5 offset-md-3">
            <div class="card shadow my-3">
                <div class="card-body">
                    <h4>Sign Up Page</h4>
                    <hr>

                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary" value="sign Up">
                    </form>
                </div>
            </div>
        </div>  
</div>

{% endblock %}
